div.container.foot ©2014 云之家
script(src="https://code.jquery.com/jquery-2.1.1.min.js")
script(src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js")
script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
script(src="/js/#{file}/index.js")