ul(ng-controller="mbCtrl")
    li(ng-hide="hasNew", ng-click="getLatestMb()", ng-cloak, class="ng-cloak get-latest") 有新微博，点击查看
    li(id="{{mb.id}}", ng-cloak, class="ng-cloak mb-list", ng-repeat="mb in mbList")
        a(class="avatar", ng-href="/{{mb.ownerId}}")
            img(ng-src="http://192.168.22.92/space/c/photo/load?id={{mb.ownerPhotoId}}")
        div
            a(ng-href="/{{mb.ownerId}}", ng-bind="mb.ownerName")
            p(ng-bind="mb.content")
        div
            a(href="", class="like") 赞
            a(href="", class="cmt-btn", ng-click="cmtToggle()") 回复
        div(mb-comment)