ul(class="nav nav-tabs", role="tablist")
    li(role="presentation", class="active")
        a(d-show-tab="", href="#msgEditor", role="tab", data-toggle="tab") 微博
    li(role="presentation")
        a(d-show-tab="", href="#docEditor", role="tab", data-toggle="tab") 文档
div(class="tab-content")
    div(role="tabpanel", class="tab-pane fade in active", id="msgEditor", ng-controller="sendMsgCtrl")
        textarea(placeholder="有啥新鲜事和同事聊聊", ng-model="sendText", id="editor")
        div(class="editorCtrl")
            a(href="", class="pull-left", ng-click="showSmiley()") 表情
            div(ng-show="smiley", d-smiley="")
            a(href="", class="pull-left", ng-click="addAttach()") 附件
            input(type="button", value="发布", ng-click="sendMsg()")
        div(d-file-upload)
    div(role="tabpanel", id="docEditor", class="tab-pane fade")
        a(href="") 上传文档