body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
    padding-top: 70px;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

input[type=file].none {
    display: none;
}

.foot, h1, .container {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    padding-bottom: 20px;
}

ul, p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

li.msg-list {
    position: relative;
    padding-left: 60px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 22px;
}

li.msg-list a.avatar {
    position: absolute;
    left: 0px;
    display: block;
    width: 50px;
    height: 50px;
}

li.msg-list a.avatar img {
    width: 50px;
    height: 50px;
}

textarea {
    width: 100%;
    height: 80px;
}

.cmt-editor {
    width: 500px;
}

.cmt-editor p {
    text-align: right;
}

textarea.cmt-input {
    width: 500px;
    height: 24px;
    padding: 2px;
}

.editorCtrl {
    text-align: right;
    width: 100%;
}

.editorCtrl .pull-left {
    margin-right: 10px;
}

.user {
    text-align: right;
}

a.cmt-btn {
    margin-left: 10px;
}

li.cmt {
    min-height: 25px;
    padding: 10px 0 10px 30px;
}

li.cmt a.avatar {
    width: 25px;
    height: 25px;
    left: 60px;
}

li.cmt a.avatar img {
    width: 25px;
    height: 25px;
}

.get-latest {
    background: #efefef;
    cursor: pointer;
}

.pub-box .nav-tabs {
    margin-bottom: 15px;
}

.smiley li {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
}

.smiley img {
    width: 22px;
    height: 22px;
    margin-top: 4px;
    cursor: pointer;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.ng-cloak, .none{display: none;}
.foot{text-align: center;padding: 10px 0;}