<div>
    <div ng-show="showMe" class="cmt-editor">
        <textarea class="cmt-input" ng-model="sentText"></textarea>
        <p><input type="button" value="回复" ng-click="sendCmt(msg)"/></p>
    </div>

    <div class="cmtList">
        <ul>
            <li class="cmt" ng-repeat="cmt in msg.comments">
                <a ng-href="/{{cmt.cmtUserId}}" class="avatar">
                    <img ng-src="{{cmt.cmtUserAvatar}}"/>
                </a>

                <div>
                    <a ng-href="/{{cmt.cmtUserId}}" ng-bind="cmt.cmtUserName"></a>
                    <span ng-bind="cmt.content"></span>
                </div>
            </li>
        </ul>
    </div>
</div>