doctype html
html(ng-app="app")
    head
        meta(chatset="utf-8")
        title #{title}
        include ./includes/head
    body
        include ./includes/header
        block content
        include ./includes/footer