extends ../layout
block content
    div.container(ng-controller="wrapCtrl")
        div.user #{userName}
            a(href="/logout") 退出
        #editor
            form(ng-controller="sendMsgCtrl")
                textarea(placeholder="有啥新鲜事和同事聊聊", ng-model="sendText")
                .editorCtrl
                    input(type="button", value="发布", ng-click="sendMsg()")

        ul(ng-controller="blogListCtrl")
            li(ng-repeat="blog in blogList")
                a.avatar(ng-href="/{{blog.userid}}")
                    img(ng-src="{{blog.avatar}}")
                div
                    a(ng-href="/{{blog.userid}}", ng-bind="blog.username")
                    p(ng-bind="blog.content")
                div.ctrl
                    a.like(href="javascript:;") 赞
                    a(href="javascript:;", class="cmt", ng-click="toggle()") 回复
                    comment