extends ../layout
block content
    div.container(ng-controller="wrapCtrl")
        .row
            div.col-md-2
                include ../includes/left
            div.col-md-8.pub-box
                include ../includes/microblogEditor
                include ../includes/microblogList
            div.col-md-2
                span 邀请同事
