extends ../layout
block content
    div.container(ng-controller="wrapCtrl")
        div.user #{userName}
            a(href="/logout") 退出
        #editor
            form(ng-controller="sendMbCtrl")
                textarea(placeholder="有啥新鲜事和同事聊聊", ng-model="sendText")
                .editorCtrl
                    input(type="button", value="发布", ng-click="sendMb()")

        ul(ng-controller="mbListCtrl")
            li(ng-hide="hasNew", ng-click="getLatestMb()", ng-cloak, class="ng-cloak") 有新微博，点击查看
            li(ng-repeat="mb in mbList",id="{{mb._id}}", ng-cloak, class="ng-cloak")
                a.avatar(ng-href="/{{mb.userId}}")
                    img(ng-src="{{mb.avatar}}")
                div
                    a(ng-href="/{{mb.userId}}", ng-bind="mb.userName")
                    p(ng-bind="mb.content")
                operation-btn
                comment-editor
                comment-list
